body {
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
}

header {
 height: 35px;
 font-size: 15px;
 color: #fff;
 background-color: #55c500;
 padding-left: 15px;
 display: flex;
 align-items: center;
}

table { 
  margin-left: 10px;
  border-collapse: separate;
}
th {
  color: #fff;
  background-color: #55c500;    /* 背景色指定 */
  font-weight: normal;       /* 文字の太さ指定 */
}
td {
  color: #000;
  background: #eee;
}
tr:nth-child(even) td {
  background: #fff;
}
th,td {
  padding: 5px 10px;          /* 余白指定 */
}

